$fa-font-path: "../webfonts";

$yellow:#ffff00;
$dark-gray:rgba(0,0,0,0.9);
$light-gray:#e6e6e6;


$body-font: 'Open Sans', sans-serif;
$header-font: 'Josefin Sans', sans-serif;
$sub-header-font: 'Dancing Script', cursive;

$h1-font-size: 3.5rem; 
$h1-font-size-md:3rem;
$h1-font-size-sm:2.5rem;
$h1-font-size-xs:2.25rem;

$h3-font-size: 1.25rem; 
$h3-font-size-sm:1rem;

$h2-font-size: 1.8rem; 
$h2-font-size-xs:1.3rem;

$h4-font-size: 1rem;
$h4-font-size-md:0.8rem;

$h5-font-size: 1.6rem;
$h5-font-size-xs:1.4rem;






